.home-content h3{
    animation: slideBottom 2s ease forwards;
    animation-delay: .7s;
}

.resume{
    animation: slideBottom 2s ease forwards;
    animation-delay: .7s;
}

@keyframes slideBottom {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-content p{
    animation: slideTop 2s ease forwards;
    animation-delay: .7s;
}
.home-sci a{
    animation: slideTop 2s ease forwards;
    animation-delay: .7s;
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.profile-pic img{
    animation: glow 5s linear infinite;
}
@keyframes glow{
    0% {
        box-shadow: 0 0 30px 30px rgba(223, 86, 109, 0.5);
      }
      50% {
        box-shadow: 0 0 40px 40px rgba(223, 86, 109, 0.75);
      }
      100% {
        box-shadow: 0 0 30px 30px rgba(223, 86, 109, 0.5);
      }
}

/* about me */
.skill-visible-left{
    animation: skill-left 1s ease-in forwards;
}

@keyframes skill-left{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.skill-visible-right{
    animation: skill-right 1s ease-in forwards;
}

@keyframes skill-right{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-visible-bottom{
    animation: about-bottom 1s ease-in forwards;
}
@keyframes about-bottom{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 2;
    }
}

/*project*/
.project-visible-bottom{
    animation: project-bottom 1s ease-in forwards;
}
@keyframes project-bottom{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 2;
    }
}
/*contact*/
.contact-visible-bottom{
    animation: contact-bottom 1s ease-in forwards;
}
@keyframes contact-bottom{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 2;
    }
}


